html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: scroll;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    font-family: "Helvetica";
    border: none;
    border-radius: 0;
    cursor: pointer;
}

li {
    list-style-type: none;
}

#menubar {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background: linear-gradient(black, rgba(20, 20, 35, 0.7), transparent);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    position: fixed;
}

#menu-home-button {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding-right: 40px;
    padding-left: 15px;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*TODO: figure out why this causes SVG to blow up*/
    /*transition: 0.3s ease-out;*/

    .hover-blue,
    .hover-red {
        transition: 0.7s ease-out;
    }

    .first-mover {
        transition: 0.5s ease-out;
    }

    .second-mover {
        transition: 0.6s ease-in-out;
    }

    img {
        transition: 0.3s ease-out;
    }

    &:hover {
        transition: 0.3s ease-out;

        .first-mover {
            transform: translateX(-5px);
            transition: 0.5s ease-out;
        }

        .second-mover {
            transform: translateX(-5px);
            transition: 0.6s ease-in-out;
        }

        .hover-blue {
            color: deepskyblue;
            transition: 0.5s ease-out;
        }

        .hover-red {
            color: orangered;
            transition: 0.5s ease-out;
        }

        img {
            transform: scale(1.03);
            transition: 0.3s ease-out;
        }
    }
}

.menu-page-button {
    color: rgb(240, 240, 240);
    background-color: transparent;
    font-size: 28px;
    transition: 0.12s ease-out;

    &:hover {
        transform: scale(1.03);
        color: rgb(245, 245, 255);
    }
}

#menu-title {
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 34px;
    cursor: pointer;
}

#main-banner {
    color: white;
    width: 100%;
    height: 1200px;
    background-image: url("./assets/bidenflag3.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    h1 {
        margin-top: 270px;
    }
}

#page-body {
    background-color: lightsteelblue;
    color: rgb(60, 60, 75);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    min-height: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@property --x {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 10%;
}

#join-button {
    color: white;
    font-size: 27px;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    --x: 60%;
    transition:
        --x 0.5s,
        transform 0.13s ease-out;
    background: linear-gradient(
        48deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) var(--x),
        rgba(0, 119, 255, 1) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
        --x: 20%;
        transform: scale(1.03);
    }
}

.card-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-color: rgb(155, 155, 180);
    width: 49%;
    height: 800px;
    padding: 24px;
    padding-top: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
